.magenta {
    width: 200px;
    height: 100px;
    background-color: magenta;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
}
 .magenta:hover {
    transform: translatex(50px);
 }

 .blu {
    width: 100px;
    height: 100px;
    animation-name: cambiocolore;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

 }
 @keyframes cambiocolore {
    0% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
 }