h1 {
    color: #b95512;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}


@media screen and (max-width: 600px) {
    h1 {
        color: rgb(16, 87, 16);
    }
}

img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    img {
        width: 49%;
    }
}